<p id="notice"><%= notice %></p>

<p>
  <strong>Find:</strong>
  <%= @message.find_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @message.owner_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
