<body id="signin-page">
 <div class="container">
  <h1>Sign In</h1>
  <%= form_tag sessions_url, method: 'post' do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= button_tag "Log In", class: "btn btn-primary btn-xs" %>
  <% end %>
</div>
</body>
