
<!DOCTYPE html>
<html lang="en">
  <body id = "signin-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="signin-heading">Welcome!</h1>
        <p class="welcometext">Suas error feugiat an quo, lorem legere ei sea. Magna vocent eum ne, usu odio definitionem ex. Pri ex tempor verterem, pri ullum utinam civibus cu, nam in velit affert inermis. Usu te delicata definiebas appellantur, ut ius intellegebat conclusionemque.</p>
      </div>
    <div class="col-md-5 pt25">
      <%= form_for(@user, class: "form-signin") do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="field">
      <%= f.text_field :first_name, class: "form-control", placeholder:"First Name" %>
      </div>
        <div class="field">

        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>

      <div class="field">
        <br>
        <%= f.text_field :cell_number, class: "form-control", placeholder: "Cell Number" %>
      </div>
      <div class="field">
        <br>
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="field">
        <br>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
      </div>
        <div class="field">
        <br>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
      </div>

        <%= f.button "Create Account", class: 'btn btn-lg btn-warning btn-block pt20'  %>
    <% end %>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
