
<%= form_for(@message, class: "form-signin") do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless current_user.present? %>

    <%= fields_for(@finder) do |ff| %>
      <div class="field">
        <%= ff.text_field :first_name, class: "form-control", placeholder:"First Name", autofocus: true %>
      </div>
      <div class="field">
        <br>
        <%= ff.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>
      <div class="field">
        <br>
        <%= ff.text_field :cell_number, class: "form-control", placeholder: "Cell Number" %>
      </div>
      <div class="field">
        <br>
        <%= ff.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>


    <% end %>

  <% end %>
  <div class="field">
    <br>
    <%= f.text_field :subject, class: "form-control", placeholder: "Subject"%>
  </div>
  <div class="field">
    <br>
    <%= f.text_area :text, class: "test_area_size form-control", placeholder: "Message" %>
    <%= hidden_field_tag :owner_id, @user.id %>
  </div>
  <div class="actions">
    <br>
    <%= f.button "Send", class: "btn btn-lg btn-send  btn-block" %>
  </div>
<% end %>
