<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Message:</h4>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4><%= message.subject %>

                </h4>
              </div>
              <div class="panel-body">
                <li>From: <%= message.find.first_name %></li>
                <li>Cell number: <%= message.find.cell_number %></li>
                <li>Email: <%= message.find.email %></li>
              </div>
              <div class="panel-footer">
                <li><%= message.text %></li>
              </div>
            </div>
          </ul>
        </div>
        <div class="modal-footer margin_model">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close Window</button>
          <%= link_to '<i class="icon-check-sign"></i>'.html_safe, message_url(message, page_id: page_id), method: :patch, remote: true, class: "pull-right", title: "Mark as complete" %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
