<div class="row multiprint_list">
  <div class="col4">
    <div class="groupprint1">
      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>
    </div>
    <div class="groupprint2">
      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>
      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>
    </div>
    <div class="groupprint3">
      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>

      <div class="code">
        <%= image_tag user.qrcode, class: "img_size" %>
        <p>Found this? Please scan code or go to this website: <%= "goo.gl/#{user.qr_code_uid}" %></p>
      </div>
    </div>
  </div>
</div>
