<div class='panel panel-danger'>
  <div class="panel-heading">
    <h3 class="mt0 pt5"><i class="icon-user"></i> Profile</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group mt0">
      <li class="list-group-item">
        <strong>Name:</strong>
        <%= "#{user.first_name} #{user.last_name}" %>
      </li>
      <li class="list-group-item">
        <strong>Mobile #:</strong>
        <%= "(#{user.cell_number[0..2]}) #{user.cell_number[3..5]}-#{user.cell_number[6..9]}" %>
      </li>
      <li class="list-group-item">
        <strong>Email:</strong>
        <%= user.email %>
      </li>
      <li class="list-group-item">
        <strong>Points:</strong>
        <%= current_user.point_tally %>
      </li>
    </ul>
      <%= link_to '<i class="icon-edit-sign"></i> Edit'.html_safe, edit_user_path(user), remote: true, class: "btn btn-danger btn-sm pull-right mt15" %>
  </div>
</div>
