<body class="default_background">
  <div class="container">
    <div class="mt20">
      <%= render 'flash' %>
    </div>
    <div class="row userview">
      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <%= render 'messages_box', messages_count: @messages_count, the_messages: @messages %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <%= render 'qrcode', user: @user %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <%= render 'profile_box', user: @user %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <%= render 'badges' %>
      </div>
  </div>

  <%= render 'print', user: @user %>
  <div id="myModal"></div>
  <div id="myModal2"></div>

  <script>
    var n = 4;
    $('#showhide').on("click", function(){
      for(var i = n; i < <%= @messages_count %>; i++ ){
        $('#message_' + i).slideToggle();
      }
      if( $('#showhide').hasClass('hide2')){
        $('#showhide').toggleClass('hide2');
        setTimeout(function(){$('#showhide').html('<%= j('<i class="icon-chevron-sign-up"></i> Hide'.html_safe) %>');}, 500);
      }
      else {
        $('#showhide').toggleClass('hide2');
        setTimeout(function(){$('#showhide').html('<%= j('<i class="icon-chevron-sign-down"></i> Show All'.html_safe) %>');}, 500);
      }
    });

    if(<%= current_user.point_tally %> >= 1) {
      $('#checkmark').fadeTo(0,1);
    }

    if(<%= current_user.point_tally %> >= 2) {
      $('#thumbs_up').fadeTo(0,1);
    }

    if(<%= current_user.point_tally %> >= 3) {
      $('#angel').fadeTo(0,1);
    }

  </script>
</body>
