<body class="default_background">
  <div class="container">
    <div class="mt20">
      <%= render 'flash' %>
    </div>
    <div class="row userview">
      <% if @messages.any? %>
        <div class="col-xs-12 col-sm-6 col-md-3 mt10">
          <div class="panel panel-info show0">
            <div class="panel-heading">
              <h3 class="mt0 pt5">Messages:<span class="badge pull-right"><%= @messages_count %></span></h3>
            </div>
            <div class="panel-body">
              <ul class="list-group mt0">
                <div id="message_panel">
                  <%= render 'messages/messages_profile', messages: @messages %>
                  <script>
                    for(var i = 4; i < <%= @messages_count %>; i++){
                      $('#message_' + i).hide().addClass('hidden_message');
                    }
                  </script>
                </div>
              </ul>
                <%= link_to 'show/hide all', '#', remote: true, class: "btn btn-sm btn-primary pull-right mt15", id: "showhide", title: "Mark as complete" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <div class="thumbnail">
          <%= image_tag @user.qrcode, class: "img_size" %>
          <div class="text-center">
            <%= link_to_function("Print QR Codes", "javascript:print()", class: "btn btn-primary mb10") %><br>
            <%= link_to 'View Stats', "http://goo.gl/#analytics/goo.gl/#{@user.qr_code_uid}/all_time", target: "_blank", class: "btn btn-success mb10" %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
        <ul class="list-group">
          <li class="list-group-item active">
            <strong>Name:</strong>
            <%= "#{@user.first_name} #{@user.last_name}" %>
          </li>
          <li class="list-group-item">
            <strong>Cell number:</strong>
            <%= @user.cell_number %>
          </li>
          <li class="list-group-item">
            <strong>Email</strong>
            <%= @user.email %>
          </li>
          <li class="list-group-item">
            <strong>Points:</strong>
            <%= current_user.point_tally %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-danger" %>
          </li>
        </ul>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 mt10">
       <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="mt0 pt5">Badges</h3>
          </div>
          <div class="panel-body text-center">
              <%= image_tag asset_path('checkmark.png'), class: "badge_img mt10", id: "checkmark", title: "After returning one item you get a checkmark badge" %>
              <%= image_tag asset_path('thumbs_up.png'), class: "badge_img mt10", id: "thumbs_up", title: "After returning two item you get a thumbs up badge"  %>
              <%= image_tag asset_path('angel.png'), class: "badge_img mt10", id: "angel", title: "After returning one item you get a angel badge"  %>
          </div>
        </div>
      </div>



  </div>

  <%= render 'print', user: @user %>
  <div id="myModal"></div>
  <script>
    var n = 4;
    $('#showhide').on("click", function(){
      for(var i = n; i < <%= @messages_count %>; i++ ){
        $('#message_' + i).slideToggle();
      }
    });

    if(<%= current_user.point_tally %> >= 1) {
      $('#checkmark').fadeTo(0,1);
    }

    if(<%= current_user.point_tally %> >= 2) {
      $('#thumbs_up').fadeTo(0,1);
    }

    if(<%= current_user.point_tally %> >= 3) {
      $('#angel').fadeTo(0,1);
    }

  </script>
</body>
