<div class='row'>
  <div class="span4 col-md-offset-1">
    <% if current_user.present? && @user.id == current_user.id   %>
    <p id="notice"><%= notice %></p>
    Signed in as: <%= "#{current_user.first_name} #{current_user.last_name}" %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %>
    <p>
      <strong>Name:</strong>
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </p>
    <p>
      <strong>Cell number:</strong>
      <%= @user.cell_number %>
    </p>
    <p>
      <strong>Email</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Home phone:</strong>
      <%= @user.home_phone %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @user.address1 %>
      <%= @user.address2 %>
      <%= "#{@user.city}, #{@user.state} #{@user.postal}" %>
    </p>
    <p>
      <strong>Points:</strong>
      <%= "..." %>
    </p>
    <p>
      <strong>Level:</strong>
      <%= "..." %>
    </p>

  </div>
</div>
<div class="row">
  <div class="col1 col-md-offset-1">
    <strong>My personal QR code:</strong>
  </div>
  <table class="col4 col-md-offset-1">
   <% @qr.modules.each_index do |x| -%>
     <tr>
     <% @qr.modules.each_index do |y| -%>
      <% if @qr.dark?(x,y) -%>
        <td class="black"/>
      <% else -%>
        <td class="white"/>
      <% end -%>
     <% end -%>
     </tr>
   <% end -%>
  </table>
</div>
<div class="row">
  <div class="col4 col-md-offset-1">
    <%= form_tag print_url do %>
      <%= select_tag :size, "<option>Small</option><option>Medium</option><option>Large</option>".html_safe %>
      <%= submit_tag "Print QR Codes", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col4 col-md-offset-1">
    <%= link_to 'Show me delivery options', test_url, class: "btn btn-primary" %>
  </div>
</div>

  <% elsif current_user.present? && (params[:id] != current_user.id)  %>

  <% else %>
    <%= "#{@user.first_name}" %>
      <% if @user.cell_show %>
        <%= @user.cell_number %>
      <% end %>
      <% if @user.email_show %>
        <%= @user.email %>
      <% end %>
      <% if @user.home_phone_show %>
        <%= @user.home_phone %>
      <% end %>

      <%#= render "finder_form" TO be added from James %>

<% end %>

