<p id="notice"><%= notice %></p>
<div class='row'>
  <div class="span4 col-md-offset-1">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Cell show:</strong>
      <%= @user.cell_show %>
    </p>

    <p>
      <strong>Cell number:</strong>
      <%= @user.cell_number %>
    </p>

    <p>
      <strong>Email show:</strong>
      <%= @user.email_show %>
    </p>

    <p>
      <strong>Home phone show:</strong>
      <%= @user.home_phone_show %>
    </p>

    <p>
      <strong>Home phone:</strong>
      <%= @user.home_phone %>
    </p>


    <p>
      <strong>Address1:</strong>
      <%= @user.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= @user.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @user.state %>
    </p>

    <p>
      <strong>Postal:</strong>
      <%= @user.postal %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col1 col-md-offset-1">
    <strong>Qrcode:</strong>
  </div>
  <table class="col4 col-md-offset-1">
   <% @qr.modules.each_index do |x| -%>
     <tr>
     <% @qr.modules.each_index do |y| -%>
      <% if @qr.dark?(x,y) -%>
        <td class="black"/>
      <% else -%>
        <td class="white"/>
      <% end -%>
     <% end -%>
     </tr>
   <% end -%>
  </table>
</div>

<div class="row">
  <div class="col4 col-md-offset-1">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
