<div class='row'>
  <div class="span4 col-md-offset-1">
    <% if current_user.present? && @user.id == current_user.id   %>
    <p id="notice"><%= notice %></p>
    Signed in as: <%= "#{current_user.first_name} #{current_user.last_name}" %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %>
    <p>
      <strong>Name:</strong>
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </p>
    <p>
      <strong>Cell number:</strong>
      <%= @user.cell_number %>
      <%= '<i class="icon-check-sign"></i>'.html_safe if current_user.cell_show %>
    </p>
    <p>
      <strong>Email</strong>
      <%= @user.email %>
      <%= '<i class="icon-check-sign"></i>'.html_safe if current_user.email_show %>
    </p>
    <p>
      <strong>Home phone:</strong>
      <%= @user.home_phone %>
       <%= '<i class="icon-check-sign"></i>'.html_safe if current_user.home_phone_show
        %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @user.address1 %>
      <%= @user.address2 %>
      <%= "#{@user.city}, #{@user.state} #{@user.postal}" %>
    </p>
    <p>
      <strong>Points:</strong>
      <%= "..." %>
    </p>
    <p>
      <strong>Level:</strong>
      <%= "..." %>
    </p>

  </div>
</div>
<div class="row">
  <div class="col4 col-md-offset-1">
    <%= image_tag @user.qrcode, class: "img_size" %>
  </div>
</div>
<div class="row">
  <div class="col4 col-md-offset-1">
    <div class="btn btn-primary">
      <%= link_to_function("Print this Page", "javascript:print()") %>
    </div>
  </div>
</div>


<div class="row multiprint_list">
  <div class="col4 col-md-offset-1">
    <div class="groupprint1">

    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
  </div>
    <div class="groupprint2">
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
  </div>
    <div class="groupprint3">
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>
    <%= image_tag @user.qrcode, class: "img_size multiprinter" %>

  </div>
  </div>
</div>

<div class="row">
  <div class="col4 col-md-offset-1">
    <%= link_to 'Show me delivery options', test_url, class: "btn btn-primary" %>
  </div>
</div>
<%= @messages %>

  <% else %>
      <div class="welcome_text_show_page">
      <%= "You found something belonging to: #{@user.first_name} #{@user.last_name}" %>
      </div>
      <h5 class="margin_bottom">Please complete the form below and we will send an anonymous message to the owner.</h5>

      <% if @user.cell_show %>
        <%= @user.cell_number %>
      <% end %>
      <% if @user.email_show %>
        <%= @user.email %>
      <% end %>
      <% if @user.home_phone_show %>
        <%= @user.home_phone %>
      <% end %>

      <%= render "form_finder"%>

<% end %>

