<body id="thankspage">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="thanks-heading">You Rock!</h1>
        <h3 class="thankssubhead ml10">Looks like you found something that belongs to <%= @user.first_name %></h3>
        <p class="thankstext ml10">Fill out this form and send a message to the owner, or contact him directly:</p>
        <p class="thankstext ml10"><strong>Name:</strong><%= " #{@user.first_name} #{@user.last_name}" %></p>
        <p class="thankstext ml10"><strong>Email: </strong><%= mail_to @user.email %></p>
        <p class="thankstext ml10"><strong>Cell: </strong><%= "(#{@user.cell_number[0..2]}) #{@user.cell_number[3..5]}-#{@user.cell_number[6..9]}" %></p>
      </div>
      <div class="col-md-4 pt50">
        <%= render "form_finder"%>
      </div>
      <div class="col-md-4 pt25">
        <h3 class="thanks-heading ml20">We really appreciate it!</h3>
        <p class= "ml20">Checkout these potential rewards:</p>
          <div class="row mb20 img_pos ml20">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/ilostandfound/checkmark.png", class: "badge_img" %>
          </div>
          <div class="row mb20 img_pos ml20">
              <%= image_tag 'https://s3-us-west-2.amazonaws.com/ilostandfound/thumbs_up.png', class: "badge_img" %>
          </div>
          <div class="row mb20 img_pos ml20">
              <%= image_tag asset_path('angel.png'), class: "badge_img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

