<!DOCTYPE html>
<html>
<head>
  <title>Ilost&found</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Welcome to iLost&Found</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/jumbotron.css" rel="stylesheet">
    <link href="assets/carousel.css" rel="stylesheet">
    <link href="assets/signin.css" rel="stylesheet">
    <link href="assets/ilost-styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="navbar navbar-ilostnav navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "iLost&Found", root_url, class: "navbar-brand" %>
        </div>
        <div class="nav navbar-collapse collapse">
            </li>
          </ul>
            <% if current_user.present? %>
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to current_user.first_name, user_url(current_user) %></li>
                <li><%= link_to "Sign Out", session_url, method: :delete %></li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav">
                <li><%= link_to "Sign Up", new_user_url, class: "" %></li>
              </ul>
              <div class="navbar-right">
                <%= form_tag sessions_url, method: 'post', class: "form-inline navbar-form "  do %>
                  <%= text_field_tag :email, nil, placeholder: "Email" %>
                  <%= password_field_tag :password, nil, placeholder: "Password" %>
                  <%= submit_tag "Log In", class: "btn btn-warning" %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>
